@font-face {
    font-family: 'DREAMS';
    src: url('../../../fonts/dreams-webfont.woff2') format('woff2'),
         url('../../../fonts/dreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, * {
    cursor: none;
}

html, body {
    height: 100%; /* Ensure the body covers the full viewport height */
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: auto;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Ensure box-sizing is inherited by all elements */
* {
    box-sizing: inherit;
}

body {
    font-family: 'Source Code Pro', Courier, monospace;
    font-weight: 400;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px) repeat,
    linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px) repeat,
    radial-gradient(ellipse at bottom, #225E55ff, #134544ff, #033038ff, #002327ff, #02151Eff, #021014ff, #000D16ff);
    background-size: 100% 20px, 20px 100%, cover;
}

h1 {
    letter-spacing: 10px;
    word-spacing: 15px;
    margin-top: 120px;
    margin-bottom: 20px;
    font-family: 'DREAMS';
    font-size: 14px;
    padding-bottom: 30px;
    text-align: center; /* Center align for better presentation */
    white-space: wrap;
    line-height: 6;
    text-shadow: 
    0 0 5px rgba(255, 255, 255, 0.27),
    0 0 10px rgba(255, 255, 255, 0.23),
    0 0 15px rgba(255, 255, 255, 0.15),
    0 0 20px rgba(255, 255, 255, 0.07),
    0 0 25px rgba(255, 255, 255, 0.025);
}

h2 {
    letter-spacing: 6px;
    word-spacing: 15px;
    margin-top: 120px;
    margin-bottom: 20px;
    font-family: 'DREAMS';
    font-size: 10px;
    padding-bottom: 30px;
    text-align: center; /* Center align for better presentation */
    opacity: 0.4;
    line-height: 6;
    text-shadow: 
    0 0 5px rgba(255, 255, 255, 0.27),
    0 0 10px rgba(255, 255, 255, 0.23),
    0 0 15px rgba(255, 255, 255, 0.15),
    0 0 20px rgba(255, 255, 255, 0.07),
    0 0 25px rgba(255, 255, 255, 0.025);
}

/* Responsive Design */
@media (max-width: 1200px) {
    body {
        font-size: 18px; /* Slightly smaller font size */
    }

    h1 {
        font-size: 12px; /* Adjust heading size */
        margin-top: 100px; /* Adjust margin */
    }

    h2 {
        font-size: 9px; /* Adjust heading size */
        margin-top: 100px; /* Adjust margin */
    }
}

@media (max-width: 992px) {
    body {
        font-size: 16px; /* Slightly smaller font size */
    }

    h1 {
        font-size: 10px; /* Adjust heading size */
        margin-top: 80px; /* Adjust margin */
    }

    h2 {
        font-size: 8px; /* Adjust heading size */
        margin-top: 80px; /* Adjust margin */
    }
}

@media (max-width: 768px) {
    body {
        font-size: 14px; /* Smaller font size */
    }

    h1 {
        font-size: 8px; /* Adjust heading size */
        margin-top: 60px; /* Adjust margin */
    }

    h2 {
        font-size: 6px; /* Adjust heading size */
        margin-top: 60px; /* Adjust margin */
    }
}

@media (max-width: 576px) {
    body {
        font-size: 12px; /* Smaller font size */
    }

    h1 {
        font-size: 6px; /* Adjust heading size */
        margin-top: 40px; /* Adjust margin */
    }

    h2 {
        font-size: 4px; /* Adjust heading size */
        margin-top: 40px; /* Adjust margin */
    }
}

@media (max-width: 400px) {
    body {
        font-size: 10px; /* Smaller font size */
    }

    h1 {
        font-size: 5px; /* Adjust heading size */
        margin-top: 20px; /* Adjust margin */
    }

    h2 {
        font-size: 3px; /* Adjust heading size */
        margin-top: 20px; /* Adjust margin */
    }
}