@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
font-family:'the name for the font';
src: url('www.cypherclub.org');
font-family: 'DREAMS';
font-weight: 900;
}
:root {    
    --blue-rgb: 50 140 124;
    --primary-rgb: var(--blue-rgb);
  }
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    
    height: 100%;
}

body {
    background: radial-gradient(ellipse at bottom, #225E55ff, #134544ff, #033038ff, #002327ff, #02151Eff, #021014ff, #000D16ff);
    background-size: cover;
    overflow: hidden; /* Prevent body scrolling */
    cursor: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stars-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: auto; /* Enable scrolling within the container */
    overflow-x: hidden; /* Disable horizontal scrolling */
    color: #fff;
    z-index: 1;
}


.header {
    font-family: "DREAMS";
    z-index: 100000;
    pointer-events: none;
    position: absolute; /* Changed to absolute for easier centering */
    top: 50%; /* Start in the center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center transform */
    color: #fff;
    font-size: 2rem; /* Adjusted for visibility */
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 15px;
    line-height: 1.2;
    text-align: center;
    padding: 40px;
    text-shadow: 
        0 0 5px rgba(255, 255, 255, 0.27),
        0 0 10px rgba(255, 255, 255, 0.23),
        0 0 15px rgba(255, 255, 255, 0.15),
        0 0 20px rgba(255, 255, 255, 0.07),
        0 0 25px rgba(255, 255, 255, 0.025);
}

.container::-webkit-scrollbar {
    width: 12px;
}

.container::-webkit-scrollbar-track {
    background: #2A2A2A;
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb {
    background-color: #4ae2d5;
    border-radius: 10px;
    border: 3px solid #2A2A2A;
}

.slide {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Adjust alignment */
    padding-left: 5%; /* Adjust as needed */
}


.content {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    padding: 20px;
    opacity: 0.8; /* Adjusted for visibility */
}

/* Container to ensure the entire section is visible */
/* Container for the cards */
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, 1fr); /* 2 equal rows */
    row-gap: 10px; /* Adjust row gap as needed */
    column-gap: 20px; /* Adjust column gap as needed */
    padding: 20px; /* Add padding to container */
    height: calc(100vh - 200px); /* Adjust height to allow for other content */
    width: 100%;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}
.cync-container {
    display: flex;
    justify-content: space-between; /* Ensure space between the two sections */
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    width: 100%;
    padding: 0 0%; /* Adjust as needed */
    overflow: visible; /* Allow overflow */
    margin-right: 40px;
}

.cync-header {
    display: flex;
    flex-direction: column; /* Ensure elements are stacked vertically */
    justify-content: center; /* Center vertically */
    flex: 1; /* Take up remaining space */
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 30%;
}

#cync {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'DREAMS', sans-serif;
    color: white; /* Ensure visibility against dark background */
    margin-bottom: 60px; /* Remove default margin */
}

.char {
    transform: translateY(400px);
    transition: transform .5s;
}

/* Additional styling for new sections in cync-overview */
.cync-overview-content {
    flex: 1; /* Take up remaining space */
    overflow: visible; /* Allow overflow */
}

.scaler {
    opacity: 0;
    filter: blur(5px);
    scale: 0;
    transition: all 1.4s;
    animation-timing-function: ease-in;
}

.rightreveal {
    opacity: 0;
    filter: blur(5px);
    scale: 0;
    transform: translateX(+100%);
    transition: all 1.4s;
    animation-timing-function: ease-in;
}

.show {
    filter: blur(0);
    scale: 1;
    transform: translateX(0);
    opacity: 1;
 }

.card-container:nth-child(2) {
    transition-delay: 200ms;
}

.card-container:nth-child(3) {
    transition-delay: 8000ms;
}
.card-container:nth-child(4) {
    transition-delay: 4000ms;
}
.card-container:nth-child(5) {
    transition-delay: 6000ms;
}
.card-container:nth-child(6) {
    transition-delay: 8000ms;
}


.countdown {
    text-align: center;
    font-family: 'Spacetron';
    margin-bottom: 50px;
  }
  
  .countdown div {
    display: inline-block;
    margin: 0 10px;
  }
  
  .countdown div span {
    display: block;
    font-size: 4rem;
    text-shadow:     
    0 0 8px rgba(0, 255, 255, 0.6),
    0 0 16px rgba(0, 255, 255, 0.4),
    0 0 24px rgba(0, 255, 255, 0.3),
    0 0 32px rgba(0, 255, 255, 0.2),
    0 0 40px rgba(0, 255, 255, 0.1);
    
  }
  
  .label {
    /* font-size: 2rem; */
    text-shadow: 
    0 0 8px rgba(0, 255, 255, 0.6),
    0 0 16px rgba(0, 255, 255, 0.4),
    0 0 24px rgba(0, 255, 255, 0.3),
    0 0 32px rgba(0, 255, 255, 0.2),
    0 0 40px rgba(0, 255, 255, 0.1);
  }
  
  @media (max-width: 48rem) {
    .countdown div span {
      font-size: 1.5rem;
    }
  
    .label {
      font-size: 0.875rem;
    }
  }
  
  @media (max-width: 30rem) {
    .countdown div {
      margin: 0 0.25rem;
    }
  
    .countdown div span {
      font-size: 1.25rem;
    }
  
    .label {
      font-size: 0.75rem;
    }
  }

  
  @media (max-width: 1440px) {
    #cync {
        font-size: 1.7em; /* Adjust font size for smaller screens */
    }
    .register {
        font-size: 0.796em;
    }


    .countdown .label {
        font-size: 1.5em; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 1024px) {
    .header {
        font-size: 1rem;

    }

    h2 {
        font-size: 20px;
    }
    .cync-header {
        margin: 0 auto;
        width: 100%;
    }
    .register {
        font-size: 0.796em;
    }


    .countdown .label {
        font-size: 1em; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 1200px) {
    #cync {
        font-size: 1.2em; /* Adjust font size for smaller screens */
    }
    .register {
        font-size: 0.196em;
    }


    .countdown .label {
        font-size: 1em; /* Adjust font size for smaller screens */
    }
}

.register {
    margin: 0 auto;
    border: none;
    background: none;
    color: #fff;
    border-bottom: solid 1px #328C7C;
    padding: 0 0 0.5rem;
    font-family: "DREAMS";
    /* font-size: 1em; */
    text-decoration: none;
    display: inline-block;
    position: relative;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
    cursor: none;
    overflow: visible;
    text-shadow: 
    0 0 3px rgba(124, 221, 189, 0.4), 
    0 0 6px rgba(124, 221, 189, 0.3), 
    0 0 9px rgba(124, 221, 189, 0.2), 
    0 0 12px rgba(0, 255, 255, 0.3), 
    0 0 15px rgba(0, 255, 255, 0.2), 
    0 0 18px rgba(0, 255, 255, 0.1), 
    0 0 21px rgba(0, 255, 255, 0.05);
}

 .register > span {
    overflow: visible;
    display: block;
    position: relative;
}


@font-face {
    font-family: 'Big Shoulders Family';
    src: url('./bigshoulders.ttf') format("woff2-variations");
}

.marquee-container {
    position: relative;
    width: 125%;
    height: 250px;
    display: flex;
    margin-bottom: 1em;
    overflow: hidden;
}

.marquee {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    gap: 1em;
}

#marquee-1 .marquee,
#marquee-3 .marquee {
    left: -15%;
}

.item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item.with-text {
    flex: 1.5;
}

.item h1 {
    text-transform: uppercase;
    font-size: 140px;
}

@media(max-width: 900px) {
    section.marquees {
        height: 100vh;
    }
    .marquee-container {
        width: 250%;
        height: 150px;
    }

    #marquee-2 .marquee,
    #marquee-4 .marquee {
        left: -35%;
    }

    .item.with-text {
        flex: 1;
    }
    .item h1 {
        font-size: 60px;
    }
}

.flicker {
    display: inline-block;
    animation: flickerAnimation 5s infinite;
}

@keyframes flickerAnimation {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        opacity: 1;
    }
    20%, 24%, 55% {
        opacity: 0;
    }
}

/* html.lenis, html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
} */

