* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Agraham", sans-serif;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(19,19,124,1) 40%, rgb(1, 6, 17) 100%);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    cursor: none;
}



.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: transparent;
    pointer-events:none;
}

.header {
    font-family: "DREAMS";
    z-index: 1;
    position: relative;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 32px;
    line-height: 60px;
    text-align: center;
    perspective: 1000px; /* Adds depth to the 3D effect */
    padding: 40px; /* Add padding around the content inside the header */
}

