* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(ellipse at bottom, #225E55ff, #134544ff, #033038ff, #002327ff, #02151Eff, #021014ff, #000D16ff);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    width: 100%;
    cursor: none;
}

.stars-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    color: transparent;
    z-index: 1;
}

.header {
    font-family: "DREAMS";
    z-index: 1;
    pointer-events: none;
    position: relative;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 22px;
    line-height: 60px;
    text-align: center;
    perspective: 1000px;
    padding: 40px;
    text-shadow: 
    0 0 5px rgba(255, 255, 255, 0.27),
    0 0 10px rgba(255, 255, 255, 0.23),
    0 0 15px rgba(255, 255, 255, 0.15),
    0 0 20px rgba(255, 255, 255, 0.07),
    0 0 25px rgba(255, 255, 255, 0.025);
}

.container::-webkit-scrollbar {
    width: 12px;
}

.container::-webkit-scrollbar-track {
    background: #2A2A2A;
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb {
    background-color: #4ae2d5;
    border-radius: 10px;
    border: 3px solid #2A2A2A;
}
