* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Agraham", sans-serif;
    background-color: #080808;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    cursor: none;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header {
    z-index: 1;
    position: relative;
    color: #fff;
    font-size: 90px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 32px;
    line-height: 60px;
    text-align: center;
}
.cursor{
    position: fixed;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: transform .3s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 1000;
}
.grow, .grow-small{
    transform: scale(4);
    background: #fff;
    mix-blend-mode:difference;
    border: none;
}
.grow-small{
    transform: scale(2.5);
}

@media (max-width: 800px) {
    .header {
        font-size: 60px;
        letter-spacing: 19px;
        line-height: 35px;
    }

    .header span {
        font-size: 26px;
    }
}
