/* Default cursor style for mobile/touch devices */
@media (max-width: 1024px) {
  body, * {
      cursor: auto !important; /* Set default cursor */
  }
}

/* Custom cursor styles for desktop */
@media (min-width: 1025px) {
  body {
      cursor: none; /* Hide default cursor */
  }

  /* Custom cursor dot */
  .cursor-dot {
      width: 5px;
      height: 5px;
      background-color: white;
      mix-blend-mode: difference; /* Example mix-blend-mode */
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      z-index: 11; /* Ensure dot is above other elements */
      pointer-events: none; /* Prevents dot from interfering with cursor actions */
      transition: transform 0.69s ease;
  }

  .cursor-dot.hover {
    transform: scale(9);
  }

  /* Custom cursor outline */
  .cursor-outline {
      width: 40px;
      height: 40px;
      border: 2px solid hsla(0, 0%, 100%, 0.5); 
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      z-index: 11;
      pointer-events: none;
      transition: transform 0.69s ease;
  }

  .cursor-outline.hover {
    transform: scale(0.1);
  }

  /* Keyframes for cursor animation */
  @keyframes rotate {
      from {
          transform: rotate(0deg);
      }
      50% {
          transform: scale(1) rotate(180deg); /* Example scale and rotation */
      }
      to {
          transform: rotate(360deg);
      }
  }

  /* Custom cursor blob */
  #blob {
      height: 35vmax;
      aspect-ratio: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background: linear-gradient(to right, rgb(86, 247, 193), mediumpurple);
      animation: rotate 20s infinite;
      opacity: 0.2;
      filter: blur(12vmax);
      pointer-events: none;
      z-index: 0; /* Behind cursor elements */
  }

  /* Custom cursor blob for form */
  #blob-form {
      height: 34vmax;
      aspect-ratio: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background: linear-gradient(to right, #7442c6, #a089bc, #fceaff);
      animation: rotate 20s infinite;
      opacity: 0.1;
      filter: blur(12vmax);
      pointer-events: none;
      z-index: 0; /* Behind cursor elements */
  }
}
