body, * {
    cursor: none;
}

body {
    font-family: 'Aquire';
    font-size: 20px;
    background: radial-gradient(ellipse at bottom, #512467, #46225B, #3C1849, #261130, #1A0D21, #130918);
    color: #fff;
    height: 100vh;
    width: 100vw;
    overflow: hidden; /* Prevent horizontal scrollbar */
    animation: gradientAnimation 1s infinite alternate;
}

#gradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: radial-gradient(circle at center, #225E55, #000D16); /* Initial gradient colors */
    background-repeat: no-repeat;
    background-size: cover;
}


.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: transparent;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    animation: slideInUp 0.5s ease-out forwards; /* Slide in animation */
    opacity: 0;
}

.register-title {
    font-family: 'DREAMS';
    text-align: left;
    font-size: 0.65em;
    margin-bottom: 6vh;
    margin-top: 45vh;
    margin-left: 10vh;
    animation: fadeIn 1s ease-out forwards; /* Fade in animation */
    opacity: 0;
}

.line {
    position: absolute;
    top: 0;
    left: 30%; /* Adjust left position as needed */
    width: 1px; /* Width of the line */
    background-color: #fceaff;
    margin: auto;
}

.step {
    display: none;
}

.step.active {
    position: relative; /* Position relative to its containing block */
    top: 40%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -60%); /* Center the active step */
    display: block;
    flex-direction: column;
    align-items: flex-start;
    
    max-width: 80vw; /* Prevent overflow */
    padding: 10px;
    box-sizing: border-box; /* Include padding in width calculation */
}
.step.active input {
    width: 100%;
    margin-bottom: 30px; 
}

.line {
    height: 70vh; /* Set height to full viewport height */
    transform-origin: top center; /* Ensure transformation origin is at top center */
    transform: translateY(30%); /* Adjust vertical position to center line vertically */
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between buttons */
    margin-top: 20px;
    animation: fadeIn 1s ease-out forwards; /* Fade in animation */
    opacity: 0;
}


/* .step#step7.active {
    display: block;
    flex-direction: column;
    align-items: flex-start;
}

.step#step7.active label,
.step#step7.active input {
    width: 100%;
    margin-bottom: 10px; 
} */

.button {
    background: transparent;
    color: #fceaff;
    padding: 10px 15px;
    border: 2px solid #fceaff;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s, transform 0.2s; /* Smooth transition */
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Lighten on hover */
    transform: scale(1.05); /* Scale up on hover */
}

.button.next::after,
.button.back::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
    opacity: 0;
    transition: opacity 0.3s;
}

.button.next::after {
    content: ' >';
    right: 10px;
}

.button.back::before {
    content: '< ';
    left: 10px;
}

.button:hover::after,
.button:hover::before {
    opacity: 1;
}

.progress-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: rgba(255, 255, 255, 0.3);
    z-index: 3; /* Ensure the progress bar is above other elements */
}

.progress-bar-fill {
    height: 100%;
    width: 0;
    background: #0ee9cc;
    transition: width 0.3s;
}

/* Add styles for invisible textboxes with borders */
input[type="text"] {
    font-family: 'Aquire';
    font-size: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fceaff;
    color: #fff;
    width: calc(100% - 20px); /* Adjust for padding */
    margin-bottom: 30px; /* Increase margin-bottom to add space between inputs */
    padding: 5px;
    transition: border-color 0.3s; /* Smooth border color transition */
}

input[type="text"]::placeholder {
    color: #fceaff;
}

input[type="text"]:focus {
    outline: none;
    border-color: palevioletred; /* Highlight border color on focus */
}

label {
    display: block;
    margin-bottom: 10px; /* Add some margin below labels */
    opacity: 0;
    animation: fadeIn 1s ease-out forwards; /* Fade in animation */
}

@keyframes slideInUp {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.cursor-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    pointer-events: none;
    z-index: 9999; /* Ensure it's above other content */
}



