.navbar {
    position: fixed;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: contents;
}

.navbar-links li {
    margin-left: 30px;
}

.navbar-links a {
    font-family: "Spacetron";
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 30px;
    letter-spacing: 3px;
    cursor: none!important;
    
    /* border: 0px solid #666565; */
    font-weight: 500;
    border-radius: 20px;
   

}

.logo {
    position: absolute;
    top: 10px;
    left: 0;
    padding-left: 20px;
    height: 150px;
    transition: filter 0.3s ease;
}
.navbar-links a:hover {
    z-index: 0;
    position: relative;
    background: transparent;
    color:#fa6f4f;
    box-shadow: 0 0 25px #666565,
    0 0 100px #666565,
    0 0 150px #666565;
}




/* Dropdown styles */
.dropdown {
    position: relative;
}

.dropdown-content {
    list-style-type: none;
    display: none;
    position: absolute;
    background-color: transparent; /* Adjust the alpha (transparency) value as needed */
    min-width: 120px; /* Smaller width */
    /* box-shadow: 0 8px 16px transparent; */
    z-index: 1;
    border-radius: 20px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-content li {
    font-size: 20.696969px;
    padding: 8px 20px; /* Smaller padding */
    text-align: center;
    left: 50%;
    opacity: 0;
    transform: translateY(-20px);
    animation: dropDown 0.5s forwards;
    animation-delay: var(--delay);
    margin: 25px; 
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.dropdown-content li a {
    color: white;
    text-decoration: none;
    border: none;
    display: block;
    padding: 8px; /* Smaller padding */
    font-size: 1.25em; /* Decreased font size */
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.dropdown:hover .dropdown-content li {
    animation: dropDown 0.5s forwards;
}

@keyframes dropDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(51, 51, 51, 0.9);
        border-radius: 0;
    }
    .navbar-brand {
        margin-right: 0;
    }
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }
    .navbar-links.active {
        display: flex;
    }
}