.navbar {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: rgba(24, 24, 35, 0.3); /* Adjust the alpha (transparency) value as needed */
    backdrop-filter: blur(); /* Adds a blur effect behind the navbar */
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    z-index: 1000;
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    font-family: "Aquire";
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 40px;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
}

/* Dropdown styles */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent; /* Adjust the alpha (transparency) value as needed */
    min-width: 120px; /* Smaller width */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-content li {
    padding: 8px 20px; /* Smaller padding */
    text-align: center;
    left: 50%;
    opacity: 0;
    transform: translateY(-20px);
    animation: dropDown 0.5s forwards;
    animation-delay: var(--delay);
    margin: 3px; /* Smaller margin */
    background-color: rgba(24, 24, 35, 0.3); /* Adjust the alpha (transparency) value as needed */
    backdrop-filter: blur(); /* Adds a blur effect behind the navbar */
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.dropdown-content li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px; /* Smaller padding */
    font-size: 1.25em; /* Decreased font size */
}

.dropdown-content li a:hover {
    background-color:transparent;
    border-radius: 8px;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.dropdown:hover .dropdown-content li {
    animation: dropDown 0.5s forwards;
}

@keyframes dropDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(51, 51, 51, 0.9);
        border-radius: 0;
    }
    .navbar-brand {
        margin-right: 0;
    }
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }
    .navbar-links.active {
        display: flex;
    }
    .navbar-toggle {
        display: flex;
    }
}
